<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kata.trivia.dao.QuestionDao">
    <select id="selectAll">
        SELECT * FROM question
    </select>
    <select id="selectByDomain">
        SELECT * FROM question WHERE domain=#{domain};
    </select>

</mapper>
