<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kata.trivia.dao.UserDao">
    <insert id="addUser" parameterType="kata.trivia.model.User" useGeneratedKeys="true" keyProperty="id">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO player(username,password)
      VALUES (#{username},#{password})
    </insert>
    <select id="getUser" parameterType="java.lang.String" resultType="User">
        SELECT * FROM player
        WHERE username=#{username} AND password=#{password}
    </select>
    <select id="getUserByNickName" parameterType="java.lang.String" resultType="User">
        SELECT * FROM player
        WHERE username=#{username}
    </select>
    <select id="getUserById" parameterType="java.lang.Integer" resultType="User">
        SELECT * FROM player
        WHERE id=#{id}
    </select>

</mapper>
